span:hover {
  cursor: pointer;
}

.mat-badge-content {
  color: white !important;
}

mat-toolbar {
  justify-content: space-between;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.end > button, span {
  margin: .5rem;
}